@if (movieDetails) { @defer {
<div class="flex justify-between items-center mb-1">
  <breadcrumb
    [previousPages]="[
      { path: '/', item: 'breadcrumb.home' | translate },
      { path: '/movies', item: 'breadcrumb.movies' | translate }
    ]"
    [currentPage]="movieDetails.title"
  />
  <language-selector />
</div>
<div class="space-y-4">
  <movie-card-details [movie]="movieDetails" [credits]="movieCredits" [lang]="selectedLanguage" />

  <div class="p-6 bg-white rounded-xl">
    <div class="flex justify-between mb-4">
      <div class="flex space-x-2 items-center">
        <h4 class="font-semibold text-xl">
          {{ "movieDetailsPage.reviews.label" | translate }}
        </h4>

        <span class="px-2 bg-gray-100 rounded-full">{{ movieReviews.length }}</span>
      </div>

      <div>
        <button
          class="btn btn-circle btn-success text-white"
          (click)="showReviewModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      @if (movieReviews.length > 0) { 
        @for (review of movieReviews; track $index) {
        <review-card [review]="review" />
      } } @else {
        <p>{{ "movieDetailsPage.reviews.noResults" | translate }}.</p>
      }
    </div>
  </div>
</div>
} @placeholder {
<div class="skeleton rounded-xl space-y-4 h-6 w-72 mb-4"></div>

<div
  class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-4 h-full"
>
  <div class="w-full lg:w-7/12 p-6 skeleton rounded-xl space-y-4"></div>

  <div class="w-full lg:w-5/12 h-full space-y-4">
    <div class="p-6 skeleton rounded-xl space-y-4 h-72"></div>

    <div class="p-6 skeleton rounded-xl space-y-4 h-72"></div>
  </div>
</div>
} } @else {
<div class="flex justify-between items-center mb-1">
  <breadcrumb
    [previousPages]="[
      { path: '', item: 'breadcrumb.home' | translate },
      { path: '/movies', item: 'breadcrumb.movies' | translate }
    ]"
    [currentPage]="'errors.notFound' | translate"
  />
  <language-selector />
</div>

<h1 class="text-4xl font-semibold mb-5">{{ "errors.notFound" | translate }}</h1>
} 

@if (isReviewModalVisible) {
<modal>
  <form
    class="flex flex-col space-y-2"
    [formGroup]="movieReviewForm"
    (ngSubmit)="onSubmitReview()"
  >
    <div class="flex justify-between items-center mb-4">
      <h3 class="font-semibold text-xl">
        {{ "movieDetailsPage.reviews.modal.label" | translate }}
      </h3>
      <button type="reset" class="cursor-pointer px-1" (click)="closeModal()">
        ✕
      </button>
    </div>

    <div class="rating rating-lg flex justify-center">
      <div class="rating rating-lg rating-half">
        <input
          type="radio"
          name="rating"
          class="rating-hidden"
          (change)="setReviewRating(0)"
          checked
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(0.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(1)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(1.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(2)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(2.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(3)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(3.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(4)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(4.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(5.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(6)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(6.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(7)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(7.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(8)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(8.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(9)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-1 bg-blue-500"
          (change)="setReviewRating(9.5)"
        />
        <input
          type="radio"
          name="rating"
          class="mask mask-star-2 mask-half-2 bg-blue-500"
          (change)="setReviewRating(10)"
        />
      </div>
    </div>

    <div>
      <textarea
        formControlName="reviewContent"
        id="reviewContent"
        name="reviewContent"
        class="textarea textarea-bordered w-full"
        [placeholder]="
          'movieDetailsPage.reviews.modal.experiencePlaceholder' | translate
        "
      ></textarea>
      <span
        class="text-error"
        *ngIf="
          movieReviewForm.get('reviewContent')?.invalid &&
          movieReviewForm.get('reviewContent')?.touched
        "
        >{{ "errors.minLength10" | translate }}.</span
      >
    </div>

    <div>
      <label for="watchedDate">{{
        "movieDetailsPage.reviews.modal.watchedAt" | translate
      }}</label>
      <input
        type="date"
        class="input input-bordered w-full"
        formControlName="watchedDate"
        id="watchedDate"
        name="watchedDate"
        [min]="minDate"
        [max]="maxDate"
      />
      <span
        class="text-error"
        *ngIf="
          movieReviewForm.get('watchedDate')?.invalid &&
          movieReviewForm.get('watchedDate')?.touched
        ">{{ "errors.requiredField" | translate }}.
      </span>
      <span class="text-error" *ngIf="
        isInvalidReviewDate &&
        movieReviewForm.get('watchedDate')?.touched
      ">
        {{ "errors.invalidDate" | translate }}.
      </span>
    </div>

    <button type="submit" class="btn" [disabled]="movieReviewForm.invalid">
      {{ "movieDetailsPage.reviews.modal.publishButton" | translate }}
    </button>
  </form>
</modal>
}

<div class="fixed left-2 bottom-2">
  @if (reviewPublishStatus === 'success') {
    <div role="alert" class="alert alert-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ "movieDetailsPage.reviews.alerts.success" | translate }}!</span>
    </div>
  } 
  @if (reviewPublishStatus === 'failure') {
    <div role="alert" class="alert alert-error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ "movieDetailsPage.reviews.alerts.failure" | translate }}!</span>
    </div>
  }
</div>
